# Rust
/target/
Cargo.lock

apps/desktop/node_modules/
apps/*/dist/
apps/*/node_modules/
apps/package-lock.json

# Environment
.env
*.env

# Config
.bs/
config.toml

# SQLite
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
